@using PlanVat.Domain.DB
@model IEnumerable<Products>

@{
    ViewBag.Title = "Produkty";
}

<h2>Lista produktów</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <td>Nazwa</td>
            <td>Opis</td>
            <td>PKWiU</td>
            <td>J.m.</td>
            <td>Cena netto</td>
            <td>Stawka Vat</td>
            <td>Cena brutto</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var produkt in Model)
        {
            <tr>
                <td>@produkt.Name</td>
                <td>@produkt.Description</td>
                <td>@produkt.PKWiU</td>
                <td>@produkt.UnitsOfMeasure.Name</td>
                <td>@produkt.Price</td>
                <td>@(produkt.VatRates.Name)%</td>
                <td>@(produkt.Price * (1m + produkt.VatRates.Value / 100m))</td>
                <td>@Html.ActionLink("Edytuj", "Edit", new { id = produkt.Id })</td>
                <td>@Html.ActionLink("Usuń", "Delete", new { id = produkt.Id })</td>
            </tr>
        }
    </tbody>
</table>
